name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "7"
          - "7.0"
          - "7.0.5"
          - "7.0.6"
          - "7.0.7"
          - "7.0.8"
          - "7.0.9"
          - "7.0.11"
          - "7.0.12"
          - "7.0.14"
          - "7.0.15"
          - "7.0.16"
          - "7.0.28"
          - "8.0.0"
          - "8.0.1"
          - "8.0.3"
          - "8.0.4"
          - "8.0.5"
          - "8.0.6"
          - "8.0.7"
          - "8.0.8"
          - "8.0.9"
          - "8.0.10"
          - "8.0.11"
          - "8.0.12"
          - "8.0.17"
          - "8.2.3"
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          tags: i15s/mongo:${{ matrix.version }}
          push: true
          build-args: |
            VERSION=${{ matrix.version }}
      - name: Push image to GitHub container registry
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/instant-solutions/mongo:${{ matrix.version }} \
            i15s/mongo:${{ matrix.version }}
